@model gestion_de_notes.Models.Eleve

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Eleve</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumMatricule" class="control-label"></label>
                <input asp-for="NumMatricule" class="form-control" />
                <span asp-validation-for="NumMatricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresseEleve" class="control-label"></label>
                <input asp-for="AdresseEleve" class="form-control" />
                <span asp-validation-for="AdresseEleve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentNumTel" class="control-label"></label>
                <input asp-for="ParentNumTel" class="form-control" />
                <span asp-validation-for="ParentNumTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classe" class="control-label"></label>
                <input asp-for="Classe" class="form-control" />
                <span asp-validation-for="Classe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
