@model gestion_de_notes.Models.Examen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Examen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdExamen" />
            <div class="form-group">
                <label asp-for="Session" class="control-label"></label>
                <input asp-for="Session" class="form-control" />
                <span asp-validation-for="Session" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebutSession" class="control-label"></label>
                <input asp-for="DebutSession" class="form-control" />
                <span asp-validation-for="DebutSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinSesssion" class="control-label"></label>
                <input asp-for="FinSesssion" class="form-control" />
                <span asp-validation-for="FinSesssion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
