@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Ceci est une application de gestion de notes pour un Lycée(6ème à Terminale).</p>
</div>
