@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Politique de confidentialité</h1>

<p>Il est bien à noter que toutes les données sont confidentielles et leurs mauvaises usages seront punis par la loi.</p>
